#loc_shop {
  display: flex;
  flex-flow: row;
}
#loc_shop .shop_item {
  background-color: white;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}
#loc_shop .shop_item .cost {
  font-weight: bold;
}
#loc_shop .shop_item.purchased {
  opacity: 0.5;
  background-color: lightgrey;
  cursor: default;
}

#loc_kingdom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#loc_kingdom .kingdom_column {
  overflow-y: auto;
}
#loc_kingdom #kingdom_resourcePanel {
  width: 150px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border-right: 2px solid black;
}
#loc_kingdom #kingdom_resourcePanel .kingdom_resource {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
}
#loc_kingdom #kingdom_resourcePanel .kingdom_resource img {
  height: 30px;
  width: 30px;
  flex: 0 0 30px;
}
#loc_kingdom #kingdom_mainArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#loc_kingdom #kingdom_mainArea #kingdom_mainGrid {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
#loc_kingdom #kingdom_mainArea #kingdom_mainGrid .kingdom_tileRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
#loc_kingdom #kingdom_mainArea #kingdom_mainGrid .kingdom_tileRow .kingdom_tileCell {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}
#loc_kingdom #kingdom_mainArea #kingdom_infoPanel {
  flex-grow: 0;
  flex-shrink: 0;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}
#loc_kingdom #kingdom_mainArea #kingdom_infoPanel .kingdom_infoPanel {
  overflow-wrap: break-word;
}
#loc_kingdom #kingdom_mainArea #kingdom_infoPanel .kingdom_infoPanel .kingdom_infoPanel_red {
  color: red;
  font-weight: bold;
}
#loc_kingdom #kingdom_purchasePanel {
  width: 398px;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border-left: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow-y: auto;
}
#loc_kingdom #kingdom_purchasePanel h3 {
  padding-left: 2px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_purchasePanelGridItem {
  overflow-y: auto;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_building {
  max-width: 388px;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_building .kingdom_building_row {
  display: flex;
  flex-direction: row;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_building .kingdom_building_row .kingdom_buildingStock {
  flex: 0 0 50px;
  font-size: 24px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_building .kingdom_building_row .kingdom_buildingImage {
  height: 40px;
  width: 40px;
  flex: 0 0 40px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_building .kingdom_building_row .kingdom_buildingName {
  padding-left: 3px;
  flex: 1 1 0px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_building .kingdom_building_row .kingdom_buildingCost {
  flex: 1 1 0px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_upgrade {
  max-width: 388px;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_upgrade .kingdom_upgrade_row {
  display: flex;
  flex-direction: row;
}
#loc_kingdom #kingdom_purchasePanel .kingdom_upgrade .kingdom_upgrade_row .kingdom_upgradeName {
  flex: 1 1 0px;
}

body {
  background-color: #FFFFFF;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-flow: column;
  max-width: 1000px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-family: "Arial";
  letter-spacing: 0.2px;
}

button {
  font-size: 16px;
  font-family: "Arial";
}

input {
  font-size: 16px;
  font-family: "Arial";
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 5px;
}

h1, h2, h3 {
  margin: 0;
  margin-top: 5px;
}

p, span, li {
  line-height: 140%;
}

#topbar {
  display: flex;
  flex-direction: row;
  min-height: 85px;
  color: black;
  text-align: left;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid black;
}

#title {
  float: left;
  width: auto;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 5px;
}
#title::after {
  clear: both;
}
#title h1 {
  font-size: 1.5em;
  padding-bottom: 5px;
}
#title h2 {
  font-size: 1em;
  padding-bottom: 5px;
}

#expBar {
  flex-grow: 1;
  flex-shrink: 0;
}
#expBar progress[value] {
  -webkit-appearance: none;
  width: calc(100% - 10px);
  height: 10px;
  margin: 2px;
}
#expBar progress[value]::-webkit-progress-value {
  background-color: green;
}
#expBar progress[value]::-moz-progress-bar {
  background-color: green;
}

#coinList {
  width: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

#tabs {
  display: flex;
  flex-flow: row;
}

.tab {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}
.tab.active {
  background-color: white;
  border-bottom: 0;
}

#locations {
  padding: 5px;
  overflow: auto;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
