#loc_dungeon {
    width: 100%;
    height: 100%;

    .dungeon_column {
        overflow-y: auto;
    }

    #dungeon_view_dungeon {
        display: flex;
        flex-direction: row;

        #dungeon_statsColumn {
            width: 150px;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;

            #dungeon_moveButtons {
                border-bottom: 2px solid black;
            }

            .dungeon_moveButtonCentred {
                margin-left: 27px;
            }
        }

        #dungeon_dungeonColumn {
            width: 550px;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
        }

        #dungeon_infoColumn {
            width: 290px;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;

            #dungeon_infoPanel {
                border: 1px solid black;
                margin: 2px;
                padding: 2px;

                .dungeon_infoPanel {
                    overflow-wrap: break-word;

                    .dungeon_infoPanelImage {
                        padding-right: 3px;
                    }
                }
            }
        }
    }
}
