@import '_variables.scss';
@import 'shop.scss';
@import 'kingdom.scss';

body {
	background-color: #FFFFFF;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-flow: column;
	max-width: 1000px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
	font-size: $primary-font-size;
	font-family: $primary-font;
	letter-spacing: 0.2px;
}

button {
	font-size: $primary-font-size;
	font-family: $primary-font;
}

input {
	font-size: $primary-font-size;
	font-family: $primary-font;
}

p {
	margin: 0;
}

p:not(:last-child){
    margin-bottom: 5px;
}

h1, h2, h3 {
    margin: 0;
    margin-top: 5px;
}

p, span, li {
    line-height: 140%;
}

#topbar {
	min-height: 70px;
	color: black;
	text-align: left;
	padding: 0;
    overflow: auto;
    border-bottom: 2px solid black;
}

#title {
	float: left;
    width: auto;
	height: 100%;

	&::after {
		clear: both;
	}

	h1 {
        font-size: 1.5em;
        padding-bottom: 5px;
	}

	h2 {
        font-size: 1em;
        padding-bottom: 5px;
	}
}

#tabs {
    display: flex;
	flex-flow: row;
}

.tab {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;

    &.active {
        background-color: white;
        border-bottom: 0;
    }
}

#locations {
    padding: 5px;
}